*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
    height: 800px;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
.content {
    display: grid;
    height: 534px;
    width: 1140px;
    grid-template-areas:
            "video content_list";
}
.result{
    grid-area: video;
}
.content__details{
    height: 534px;
    width: 399px;
    grid-area: content_list;
    padding: 0px;
}
.result__video-container{
margin: 78px 0 16px 0;
    width: 711px;
    height: 386px;
}
.result__video-container .result__video{
    width: 711px;
    height: 386px;
}
.result .search-form{
    width: 711px;
    height: 54px;
    display: flex;
    justify-content: space-between;
}
.search-form__fieldset{
    width: 225px;
    height: 54px;
}
.search-form .button{
    width: 194px;
    height: 34px;
    align-self: end;
}
.content__list{

}
.content__list-container.custom-scrollbar{
    overflow-y: auto;
    max-height: 298px;
}
.content__details h1.title{
    font-size: 75px;
    line-height: 70.5px;
    text-transform: uppercase;
    font-family: Oswald;
    margin-bottom: 26px;
}
.title .content__accent{
    color: gray;
}
.content__list .content__list-item{
    height: 103px;
    width: 390px;
}
.content__card-link .content__video-card{
    display: grid;
    grid-template-columns: 1fr 194px;
}
.content__video-card .content__video-card-thumbnail{
    height: 103px;
    width: 194px;
}